@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

body {
  background-color: #afcff5;
}

main {
  background-color: #ffffff;
  text-align: center;
  border-radius: 5%;
  padding: 0.5rem 0rem 4rem 0rem;
  height: 20rem;
  width: 15rem;
  display: block;
  margin-top: 10rem;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0px 5px 25px rgba(129, 129, 129, 0.2);
}

img {
  width: 13.5rem;
  height: 13.5rem;
  border-radius: 5%;
}

h1,
p,
.attribution {
  font-family: "Outfit", sans-serif;
}

h1 {
  font-size: 1rem;
  padding: 0rem 1.5rem 0rem 1.5rem;
  font-weight: 700;
}

.attribution,
p {
  font-size: 0.7rem;
  padding: 0rem 1.5rem 0rem 1.5rem;
  font-weight: 400;
  color: hsl(0, 0%, 64%);
}

@media screen and (min-width: 810px) {
  main {
    margin-top: 20rem;
  }
}

@media screen and (max-width: 375px) {
  main {
    margin-top: 10rem;
  }
}
